{% extends "base.html" %}
{% block content %}
<h3>{{event.name}}</h3>
<p>Start Date/Time: {{event.startdatetime}}</p>
<p>End Date/Time: {{event.enddatetime}}</p>
<p>Recurring: {{event.recurring}}</p>
{% if event.recurring %}
<p>Frequency: {{event.frequency}}</p>
<p>Weekdays: {{event.get_weekdays}}</p>
{% endif %}
  <form action="update/" method="get">
    <input type="submit" class='fc fc-header fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right' value="edit event">
  </form>
{% endblock %}